 <!-- grafico -->
	       	<div id="grafico" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
            <table id="representantes" class="table table-striped hover dataTable no-footer cell-border">
                <thead>
                    <tr>
                        <th>Representante</th>
                        <th>Qtde vendas</th>
                        <th>Comissão R$</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a</td>
                        <td>a</td>
                        <td>a</td>
                    </tr>
                    <tr>
                        <td>b</td>
                        <td>b</td>
                        <td>b</td>
                    </tr>
                </tbody>
            </table>